
/* Tässä muokkausivun, etusivun, muokkaapizzaasivun tyylitiedostot!!Muistakaa linkittä ohessa oleva
kuvia+ Pizzicato.png+Pizza.jpg ja poistakaa kaikki vanhat tyyli tiedostot*/

 h1 {
    font-size: 22px;  
  }
  h2 {
    font-size: 20px;  
  }
  h3 {
    font-size: 18px;  
  }

@media screen and (max-width: 992px) {

  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }

  
}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 18px;  
  }
  h2 {
    font-size: 16px;  
  }
  h3 {
    font-size: 14px;  
  }
  
}


body {
	
    background-image: url("tausta2.jpg");
    background-repeat: no-repeat;
	margin:6px auto 6px auto;
	width:60%;
	background-size: cover;
	
}


.jumbotron {
   background: rgb(238, 238, 238); /* Tämä on IE8 ja alle */
   background: rgba(238, 238, 238, 0.9); 
}

#yhteystiedot /*Laatikko, johon tulee sivuston pääsisältö. Laatikko on läpinäkyvän responsiivisen containerin sisällä, joten sen leveyttä ei tarvitse määritellä*/
{
	max-width: 300px;
	    margin-left: auto;
    margin-right: auto;
margin-bottom: 25px;
border: 1px solid black; /* Reunuksen väri */
background-color:rgba(255,255,255,0); /* Laatikon taustalle väri ja läpinäkyvyys */
border-radius:5px; /* Kulmien pyöristys */
padding-top:15px; /* Tyhjää tilaa ennen sisältöä */
padding-left:15px;
padding-right:15px;
padding-bottom:15px; 
position:relative;
}	


  html {
  position: relative;
  min-height: 100%;
}



iframe /* määritellään google-maps kartalle arvot, !!upotettu Koulun osoite koska pizzantie ei ole olemassa */ { 
	margin-left:10px;
	margin-right:10px;
	text-align: left;  /* vasen laita */
	width:100%; /* leveys 100% boksin leveydestä, mikäli leveys alle 600 pikseliä */
	max-width:400px; /* kartan maksimileveys */
	height:300px; /* korkeus */
	padding-bottom:0px; /* tyhjä tila kartan alla */
	border: 1px solid black;
}
/* pyry tekemää!*/	


#navigointipalkki
#navigointipalkki,
#navigointipalkki ul,
#navigointipalkki ul li,
#navigointipalkki ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#navigointipalkki:after,
#navigointipalkki > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#navigointipalkki {
  width: auto;
  border-bottom: 3px solid green;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#navigointipalkki ul {
  background: #ffffff;
}
#navigointipalkki > ul > li {
  float: left;
}
#navigointipalkki.align-center > ul {
  font-size: 0;
  text-align: center;
}
#navigointipalkki.align-center > ul > li {
  display: inline-block;
  float: none;
}
#navigointipalkki.align-right > ul > li {
  float: right;
}
#navigointipalkki.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#navigointipalkki > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#navigointipalkki > ul > li.active > a,
#navigointipalkki > ul > li:hover > a,
#navigointipalkki > ul > li > a:hover {
  color: #ffffff;
}
#navigointipalkki > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#navigointipalkki > ul > li.active > a:after,
#navigointipalkki > ul > li:hover > a:after,
#navigointipalkki > ul > li > a:hover:after {
  background: green;
}

#ylaotsikko {
	
background-color: white;
 display: block;	
	
}
#taulukko {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
	td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tkeho th {
	background-color: #2ea879;
}
tkeho tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tkeho tr:hover {
    background-color: rgba(129,208,177,.3);
}

footer { 
    display: block;
}

