
/* Tässä muokkausivun, etusivun, muokkaapizzaasivun tyylitiedostot!!Muistakaa linkittä ohessa oleva
kuvia+ Pizzicato.png+Pizza.jpg ja poistakaa kaikki vanhat tyyli tiedostot*/

 h1 {
    font-size: 22px;  
  }
  h2 {
    font-size: 20px;  
  }
  h3 {
    font-size: 18px;  
  }

@media screen and (max-width: 992px) {

  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }

  
}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 18px;  
  }
  h2 {
    font-size: 16px;  
  }
  h3 {
    font-size: 14px;  
  }
  
}


body {
	
    background-image: url("tausta2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
	margin:6px auto 6px auto;
	width:80%;
	
	
}


.keho {
   background: rgb(238, 238, 238); /* Tämä on IE8 ja alle */
    /*  background: rgba(238, 238, 238, 0.9); */
 background-image: url("listatausta.jpg"); 
  background-repeat: no-repeat;
   background-size: 100% 100%;
}


#yhteystiedot /*Laatikko, johon tulee sivuston pääsisältö. Laatikko on läpinäkyvän responsiivisen containerin sisällä, joten sen leveyttä ei tarvitse määritellä*/
{
	max-width: 300px;
	    margin-left: auto;
    margin-right: auto;
margin-bottom: 25px;
border: 1px solid black; /* Reunuksen väri */
background-color:rgba(255,255,255,0); /* Laatikon taustalle väri ja läpinäkyvyys */
border-radius:5px; /* Kulmien pyöristys */
padding-top:15px; /* Tyhjää tilaa ennen sisältöä */
padding-left:15px;
padding-right:15px;
padding-bottom:15px; 
position:relative;
}	


  html {
  position: relative;
  min-height: 100%;
}





 

iframe /* määritellään google-maps kartalle arvot, !!upotettu Koulun osoite koska pizzantie ei ole olemassa */ { 
	
	float: right;
	margin-right:10px;
	text-align: left;  /* vasen laita */
	width:100%; /* leveys 100% boksin leveydestä, mikäli leveys alle 600 pikseliä */
	max-width:60%; /* kartan maksimileveys */
	height:550px; /* korkeus */
	padding-bottom:0px; /* tyhjä tila kartan alla */
	border: 1px solid black;
}





#navigointipalkki
#navigointipalkki,
#navigointipalkki ul,
#navigointipalkki ul li,
#navigointipalkki ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#navigointipalkki:after,
#navigointipalkki > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#navigointipalkki {
  width: auto;
  border-bottom: 3px solid green;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#navigointipalkki ul {
  background: #ffffff;
}
#navigointipalkki > ul > li {
  float: left;
}
#navigointipalkki.align-center > ul {
  font-size: 0;
  text-align: center;
}
#navigointipalkki.align-center > ul > li {
  display: inline-block;
  float: none;
}
#navigointipalkki.align-right > ul > li {
  float: right;
}
#navigointipalkki.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#navigointipalkki > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#navigointipalkki > ul > li.active > a,
#navigointipalkki > ul > li:hover > a,
#navigointipalkki > ul > li > a:hover {
  color: #ffffff;
}
#navigointipalkki > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#navigointipalkki > ul > li.active > a:after,
#navigointipalkki > ul > li:hover > a:after,
#navigointipalkki > ul > li > a:hover:after {
  background: green;
  
 
  
  
}


.taulukko {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 80%;
    background-repeat: initial;
    background-image: url("paperi.jpg");
    margin-left:10%;
    margin-right:10%;
    border: 1px solid black;
    
}
table.taulukko table, td, th {
   
    text-align: center;
    
}

table.taulukko th {
    background-color: green;
    font-weight: bold;
    font-size:110%;
    color: #fff;
    white-space: nowrap;
   height: 40px;
    border:none;
}

table.taulukko td {


height:80px;
font-size:100%;
}
 

hr {
	background-image: url("italy.jpg");
	
background-repeat: repeat;
    height: 20px;
}

#footer { 
-webkit-border-top-right-radius: 200px;
-webkit-border-bottom-right-radius: 200px;
-moz-border-radius-topright: 200px;
-moz-border-radius-bottomright: 200px;
border-top-right-radius: 200px;
border-bottom-right-radius: 200px;
background-image: url("listatausta.jpg"); 
 display: block;
 height: 15%;
 
 text-align: center;
}

.kuva1{
float: left-side;
width: 100%;
text-align: center;
}

.kuva3 {
	width: 29%;	
	float: right;
	margin-top: 4%;
	margin-right: 2%;
}
.kuva4 {
	width: 30%;
	float: left;
	margin-top: 4%;
	margin-right: 2%;
	margin-left:2%;
}
.kuva5 {
	width: 30%;
	float:;
	margin-top: 4%;
	margin-right: 2%;
	margin-left: 2%;
	
}
.kuva6 {
width: 35%;
	float: left;
	margin-top: 4%;
	margin-right: 2%;
	margin-left:2%;	
}
#kuvajono {
	
}
#kuvajono img {
	display: inline-block;
	margin:
	
}

.teksti {
	position: relative;
    left: 30px;
    margin-right: 4%;
}
.otsikko {
	position: relative;
    left: 15%;
  
}
.pienempifontti {
	font-size: 12px;
	font-style: italic; 
}

div.fixedpuhno {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 150px;
    height: 75px;
    border: 2px solid #400040;
    text-align: center;
    background-color:rgba(255,255,255,0);
    background-image: url("listatausta.jpg");
    z-index: +5
}

div.fixedlogin {
    position: fixed;
    top: 85px;
    right: 5px;
    width: 150px;
    height: 40px;
    border: 2px solid #400040;
    text-align: center;
    background-color:rgba(255,255,255,0);
    background-image: url("listatausta.jpg");
    z-index: +5
}

div.fixedlogin2 {
    position: fixed;
    top: 85px;
    right: 5px;
    width: 155px;
    height: 90px;
    border: 2px solid #400040;
    text-align: center;
    background-color:rgba(255,255,255,0);
    background-image: url("listatausta.jpg");
  	z-index: +5
}

#aukioloajat {
	background-image: url("tekstitausta2.jpg");
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 4%;
	margin-bottom: 2%;
	  border-width: 5px;
    border-style:solid;
    border-color: 304646  ;
    		
}
.puhnum{
	float:right;
	position: absolute;
	right: 45%;

}

.admintaulukko{
 border-collapse: collapse;
    margin-bottom: 3em;
    width: 80%;
    background-image: url("adminkuva.jpg");
    margin-left:5%;	
    margin-right:5%;
    
}
table.admintaulukko td, th {
	    text-align: center;
	     border: 1px solid black;
}

.otsikointi {
background-color: #fff;

	
	 font-size: 200%;
	 
}

#tilauslomake {
border-collapse: initial;
    margin-bottom: 3em;
    width: 50%;
    background-color: #fff;
    margin-left:25%;	
    margin-right:25%;	
    border: 1px solid black;
	
}

table#tilauslomake td, th {
	    text-align: center;
	     
}